# Auto-saves
**/.ipynb_checkpoints/**

# Python binaries
__pycache__/
*.py[cod]

# Ignore most images
*.png
*.jpg
*.pdf

# Ignore other big binaries (global)
*.gz
*.h5ad
*.h5
*.loom
*.npz
*.npy
*.pdf
*.tar
*.tar.gz
*.zip

# Track notebooks explicitly
!notebooks/*.ipynb
