# Ignore local caches and generated plots, except the final ones
/data
/results/logs
/notebooks

# Jupyter auto-saves
**/.ipynb_checkpoints/**

# Ignore most images
*.png
*.jpg
*.pdf

# Ignore other big binaries (global)
*.h5ad
*.h5
*.loom
*.npz
*.npy
*.pdf
*.tar
*.tar.gz
*.zip

Colab_Notebooks/
*_sync.ipynb
